
@model Restaurante;


<div class="container" >
	<h1 class="text-center">RESTAURANTE</h1>
    	<div class="row">
			
			<div class="col-md-8 col-md-offset-2" style="margin:0 auto">
				<div class="panel panel-login">
					<div class="panel-heading">
						<div class="row text-center">
							<div class="col-md-6">
								<a href="InicioSesion" type="button" class="btn btn-primary">Iniciar sesión</a>
							</div>
							<div class="col-md-6">
								<a href="RegistroRestaurante" type="button" class="btn btn-primary">Regístrate ahora</a>
							</div>
						</div>
						<hr>
					</div>
					<div class="panel-body">
						<div class="row">
							<div class="col-xl-12">
								
								<form id="register" action="~/Client/RegistroRestaurante" method="post" role="form">
									
									@Html.ValidationSummary()

									<div class="form-group row">
                                        <label for="nombre" class="col-sm-4 col-form-label">Nombre :</label>
                                        <div class="col-sm-8">                                           
											@Html.TextBoxFor(m => m.nombre, new { @class = "form-control", placeholder="Nombre del Propietario" })
											@Html.ValidationMessageFor(m => m.nombre, "" , new { @class ="text-danger"})
											
										
										</div>
										
									</div>
                                     <div class="form-group row">
                                        <label for="apellido" class="col-sm-4 col-form-label">Apellido :</label>
                                        <div class="col-sm-8">
											
											@Html.TextBoxFor(m => m.apellido, new { @class = "form-control", placeholder="Apellidos" })
											@Html.ValidationMessageFor(m => m.apellido, "" , new { @class ="text-danger"})
											
										</div>
                                    </div>
                                     <div class="form-group row">
										<label for="ini.Usuario" class="col-sm-4 col-form-label">Usuario :</label>
                                        <div class="col-sm-8">
                                            
											@Html.TextBoxFor(m => m.ini.Usuario, new { @class = "form-control", placeholder="Usuario" })

											@Html.ValidationMessageFor(m => m.ini.Usuario, "" , new { @class ="text-danger"})
											
										</div>
									</div>
									<div class="form-group row">
										<label for="email" class="col-sm-4 col-form-label">Email :</label>
                                        <div class="col-sm-8">
                                            @Html.TextBoxFor(m => m.email, new { @class = "form-control", placeholder="Usuario" })

											@Html.ValidationMessageFor(m => m.email, "" , new { @class ="text-danger"})
                                        </div>
									</div>
                                    <div class="form-group row">
										<label for="telefono" class="col-sm-4 col-form-label">Telefono :</label>
                                        <div class="col-sm-8">

											@Html.TextBoxFor(m => m.telefono, new { @class = "form-control", placeholder="Telefono" })

											@Html.ValidationMessageFor(m => m.telefono, "" , new { @class ="text-danger"})
											
										</div>
									</div>
                                    <div class="form-group row">
										<label for="nomnbreTienda" class="col-sm-4 col-form-label">Nomb del Restaurant :</label>
                                        <div class="col-sm-8">
											@Html.TextBoxFor(m => m.nombreTienda, new { @class = "form-control", placeholder="Nombre del Restaurante" })

											@Html.ValidationMessageFor(m => m.nombreTienda, "" , new { @class ="text-danger"})
                                        </div>
									</div>
                                    <div class="form-group row">
                                        <label for="foto" class="col-sm-4 col-form-label">Imagen Preferencial :</label>
                                        <div class="col-sm-8">
											@Html.TextBoxFor(m => m.foto, new { @class = "form-control", placeholder="Foto" })

											@Html.ValidationMessageFor(m => m.foto, "" , new { @class ="text-danger"})                                       
										
										</div>
                                    </div>
                                    <div class="form-group row">
										<label for="direccion" class="col-sm-4 col-form-label">Direccion :</label>
                                        <div class="col-sm-8">
											@Html.TextBoxFor(m => m.direccion, new { @class = "form-control", placeholder="Direccion" })

											@Html.ValidationMessageFor(m => m.direccion, "" , new { @class ="text-danger"})                                        
										</div>
									</div>
                                    <div class="form-group row">
										<label for="RUC" class="col-sm-4 col-form-label">RUC :</label>
                                        <div class="col-sm-8">
											@Html.TextBoxFor(m => m.RUC, new { @class = "form-control", placeholder="RUC" })

											@Html.ValidationMessageFor(m => m.RUC, "" , new { @class ="text-danger"})                                      
										</div>
									</div>
                                    <div class="form-group row">
                                        <label for="descripcion" class="col-sm-4 col-form-label">Descripcion :</label>
                                        <div class="col-sm-8">
											@Html.TextAreaFor(m => m.descripcion, new { @class = "form-control", placeholder="Descripcion" })

											@Html.ValidationMessageFor(m => m.descripcion, "" , new { @class ="text-danger"})                                        
										</div>
                                    </div>
									<div class="form-group row">
										<label for="ini.Contraseña" class="col-sm-4	 col-form-label">Contraseña:</label>
                                        <div class="col-sm-8">
											@Html.PasswordFor(m => m.ini.Contraseña, new { @class = "form-control", placeholder="Contraseña" })

											@Html.ValidationMessageFor(m => m.ini.Contraseña, "" , new { @class ="text-danger"})                                     
										</div>
									</div>
									<div class="form-group row">
										<label for="confirm_password" class="col-sm-4 col-form-label">Confirmar Contraseña :</label>
                                        <div class="col-sm-8">
											@Html.PasswordFor(m => m.confirm_password, new { @class = "form-control", placeholder="Repite Contraseña" })

											@Html.ValidationMessageFor(m => m.confirm_password, "" , new { @class ="text-danger"})                                
                                        </div>
									</div>
									<div class="form-group">
										<div class="text-center">
											<div class="col-md-6 col-md-offset-3" style="margin:0 auto">
												<input type="submit" name="register-submit" id="register-submit" tabindex="4" class="form-control btn btn-primary" value="Crear cuenta">
											</div>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
