@model Platillo;
<div class="container" >
    <h1 class=" text-center">Pagina de Registro de Menu</h1>
    	<div class="row" >
			<div class="col-md-8 col-md-offset-2" style="margin:0 auto">
				<div class="panel panel-login"> 
					<div class="panel-heading">
						<div class="row">
							<div class="col-xs-6">
								<button id="login-form-link" class="btn btn-register"><a asp-area="" asp-controller="Restaurantes" asp-action="Principal">Atras</a></button>
							</div>
						</div>
						<hr>
					</div>
					<div class="panel-body">
						<div class="row">
							<div class="col-xl-12">
                                @Html.ValidationSummary(true)
								<form id="login" asp-action="agregarmenu" method="post" role="form" style="display: block;">
									<div class="form-group row">
                                        <label for="nombre" class="col-sm-4 col-form-label">Nombre del Plato :</label>
                                        <div class="col-sm-8">
                                            @Html.TextBoxFor(m => m.Nombre, new { @class = "form-control", placeholder="Nombre del Propietario" })
											@Html.ValidationMessageFor(m => m.Nombre, "" , new { @class ="text-danger"})
                                        </div>
                                    </div>
                                    <div class="form-group row">
										<label for="precio" class="col-sm-4 col-form-label">Precio :</label>
                                        <div class="col-sm-8">
                                            @Html.TextBoxFor(m => m.Precio, new { @class = "form-control", placeholder="Nombre del Propietario" })
											@Html.ValidationMessageFor(m => m.Precio, "" , new { @class ="text-danger"})
                                        </div>
									</div>
                                    <div class="form-group row">
										<label for="foto" class="col-sm-4 col-form-label">Imagen Plato:</label>
                                        <div class="col-sm-8">
                                            @Html.TextBoxFor(m => m.Imagen, new { @class = "form-control", placeholder="Nombre del Propietario" })
											@Html.ValidationMessageFor(m => m.Imagen, "" , new { @class ="text-danger"})
                                        </div>
									</div>
                                    <div class="form-group row">
                                        <label for="descripcion" class="col-sm-4 col-form-label">Descripcion :</label>
                                        <div class="col-sm-8">
                                            @Html.TextAreaFor(m => m.Descripcion, new { @class = "form-control", placeholder="Nombre del Propietario" })
											@Html.ValidationMessageFor(m => m.Descripcion, "" , new { @class ="text-danger"})
                                        </div>
                                    </div>
									<div class="form-group">
										<div class="text-center">
											<div class="col-md-6 col-md-offset-3" style="margin:0 auto">
												<input type="submit" name="register" id="register" tabindex="4" class="form-control btn btn-primary" value="Agregar"/>
											</div>
										</div>
									</div>
								</form>
								
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
</div>


